<hr style="border-width:2px;border-color:##75DFC1">
<center> <h1 style = "text-align:center" > PROJET DE DATA SCIENCE </h1> </center> 
<center> <h2 style = "text-align:center" > Accidents corporels de la circulation routière - Années de 2005 à 2022</h2> </center> 
<hr style="border-width:2px;border-color:##75DFC1">

__Description de la base de donnée:__

Il y a 5 fichiers par année (carac, vehicule, lieux , usagers, immat).
Ce jupyter notebook sert à  merger les 4 fichiers (carac, vehicule, lieux , usagers). L efichier immat pourra être ajouté après (si je trouve sur quoi le merger).

Les données sont dans __C:\Users\Gaia\Desktop\Mahaut\DATASCIENCE\DATASCIENTEST\projet\raw_data__.

* (a) D'abord Chargeons tous les packages dont nous aurons besoin.

In [1]:
## packages pour l'explo des données et la visualisation

import numpy as np
import pandas as pd

* (b) Ensuite, nous mergeons les csv ensemble par année. /!\ il faut être dans le même répertoire que les fichiers

In [2]:
import os

# Directory containing the files I want to merge
directory = './'

# List all files in the directory
files = os.listdir(directory)

* (b) 1- Immatriculation

In [17]:

# Filter only the files beginning with vehicules-immatricules --> 13 files
csv_files = [file for file in files if file.startswith('vehicules-immatricules-baac')]

# Initialize an empty list to store dataframes
dfs = []

# Loop through each CSV file, read it as a dataframe, and append to dfs list
for file in csv_files:
    #filepath = os.path.join(directory, file)
    df = pd.read_csv(file, sep=';')
    dfs.append(df)

# Concatenate all dataframes into a single dataframe
merged_df = pd.concat(dfs, ignore_index=True)

# Save the merged dataframe to a new CSV file
merged_df.to_csv('immat_merged.csv', index=False)

C:\Users\Gaia\AppData\Local\Temp\ipykernel_21420\3879571011.py:18: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep=';')

* (b) 2- Caractéristiques.
 
> /!\ attention, avant 2019, le séparateur est un ',' et à partir de 2019  un ";". Le séparateur est un \t pour l'année 2009. Et il y a plein d'erreurs d'encodage.

> Pour 2022, le nom de "Num_Acc" est "Accident_id", j'ai remplacé à la main le nom de la colonne.

In [5]:
# Filter only the files beginning with caractéristiques --> 18 files
csv_files = [file for file in files if file.startswith('caracteristiques')]

dfs = []
tuple_sep_1 = tuple(str(year) + ".csv" for year in range(2005, 2009))
tuple_sep_3 = tuple(str(year) + ".csv" for year in range(2010, 2019))
tuple_sep_2 = tuple(str(year) + ".csv" for year in range(2019, 2023))

for file in csv_files:
    filepath = os.path.join(directory, file)
    print(file)
    try:
        if file.endswith(tuple_sep_1) or file.endswith(tuple_sep_3):
            df = pd.read_csv(filepath, sep=',', encoding='utf-8')
        elif file.endswith(tuple_sep_2):
            df = pd.read_csv(filepath, sep=';', encoding='utf-8')
        elif file.endswith("-2009.csv"):
            df = pd.read_csv(filepath, sep='\t', encoding='utf-8')  
        dfs.append(df)
        
    except UnicodeDecodeError:
        try:
            if file.endswith(tuple_sep_1) or file.endswith(tuple_sep_3):
                df = pd.read_csv(filepath, sep=',', encoding='latin-1')
            elif file.endswith(tuple_sep_2):
                df = pd.read_csv(filepath, sep=';', encoding='latin-1')
            elif file.endswith("-2009.csv"):
                df = pd.read_csv(filepath, sep='\t', encoding='latin-1')
            dfs.append(df)
        except UnicodeDecodeError:
            print(f"UnicodeDecodeError: Unable to decode file {file}")

merged_df = pd.concat(dfs, ignore_index=True)
merged_df.to_csv('carac_merged.csv', index=False)

caracteristiques-2005.csv
caracteristiques-2006.csv
caracteristiques-2007.csv
caracteristiques-2008.csv
caracteristiques-2009.csv
caracteristiques-2010.csv
caracteristiques-2011.csv
caracteristiques-2012.csv
caracteristiques-2013.csv
caracteristiques-2014.csv
caracteristiques-2015.csv
caracteristiques-2016.csv
caracteristiques-2017.csv
caracteristiques-2018.csv
caracteristiques-2019.csv
caracteristiques-2020.csv
caracteristiques-2021.csv
caracteristiques-2022.csv

* (b) 3- lieux

In [20]:
# Filter only the files beginning with lieux --> 18 files
csv_files = [file for file in files if file.startswith('lieux')]

dfs = []
tuple_sep_1 = tuple(str(year) + ".csv" for year in range(2005, 2019))
tuple_sep_2 = tuple(str(year) + ".csv" for year in range(2019, 2023))

for file in csv_files:
    filepath = os.path.join(directory, file)
    print(file)
    if file.endswith(tuple_sep_1):
        df = pd.read_csv(file, sep=',')
    elif file.endswith(tuple_sep_2):
        df = pd.read_csv(file, sep=';')
    dfs.append(df)

merged_df = pd.concat(dfs, ignore_index=True)
merged_df.to_csv('lieux_merged.csv', index=False)

lieux-2005.csv
lieux-2006.csv
lieux-2007.csv
lieux-2008.csv
lieux-2009.csv
lieux-2010.csv
lieux-2011.csv
lieux-2012.csv
lieux-2013.csv
lieux-2014.csv
lieux-2015.csv
lieux-2016.csv
lieux-2017.csv

C:\Users\Gaia\AppData\Local\Temp\ipykernel_3268\960929714.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep=',')
C:\Users\Gaia\AppData\Local\Temp\ipykernel_3268\960929714.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep=',')

lieux-2018.csv
lieux-2019.csv

C:\Users\Gaia\AppData\Local\Temp\ipykernel_3268\960929714.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep=',')

lieux-2020.csv
lieux-2021.csv
lieux-2022.csv

C:\Users\Gaia\AppData\Local\Temp\ipykernel_3268\960929714.py:14: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep=';')

* (b) 4- usagers

In [21]:
# Filter only the files beginning with usagers --> 18 files
csv_files = [file for file in files if file.startswith('usagers')]

dfs = []
tuple_sep_1 = tuple(str(year) + ".csv" for year in range(2005, 2019))
tuple_sep_2 = tuple(str(year) + ".csv" for year in range(2019, 2023))

for file in csv_files:
    filepath = os.path.join(directory, file)
    print(file)
    if file.endswith(tuple_sep_1):
        df = pd.read_csv(file, sep=',')
    elif file.endswith(tuple_sep_2):
        df = pd.read_csv(file, sep=';')
    dfs.append(df)

merged_df = pd.concat(dfs, ignore_index=True)
merged_df.to_csv('usagers_merged.csv', index=False)

usagers-2005.csv
usagers-2006.csv
usagers-2007.csv
usagers-2008.csv
usagers-2009.csv
usagers-2010.csv
usagers-2011.csv
usagers-2012.csv
usagers-2013.csv
usagers-2014.csv
usagers-2015.csv
usagers-2016.csv
usagers-2017.csv
usagers-2018.csv
usagers-2019.csv
usagers-2020.csv
usagers-2021.csv
usagers-2022.csv

* (b) 5- vehicules

In [3]:
# Filter only the files beginning with vehicules --> 13 files
csv_files = [file for file in files if file.startswith('vehicules')]

dfs = []
tuple_sep_1 = tuple(str(year) + ".csv" for year in range(2005, 2019))
tuple_sep_2 = tuple(str(year) + ".csv" for year in range(2019, 2023))

for file in csv_files:
    filepath = os.path.join(directory, file)
    print(file)
    if file.endswith(tuple_sep_1):
        df = pd.read_csv(file, sep=',')
    elif file.endswith(tuple_sep_2):
        df = pd.read_csv(file, sep=';')
    dfs.append(df)

merged_df = pd.concat(dfs, ignore_index=True)
merged_df.to_csv('vehicule_merged.csv', index=False)

vehicules-2005.csv
vehicules-2006.csv
vehicules-2007.csv
vehicules-2008.csv
vehicules-2009.csv
vehicules-2010.csv
vehicules-2011.csv
vehicules-2012.csv
vehicules-2013.csv
vehicules-2014.csv
vehicules-2015.csv
vehicules-2016.csv
vehicules-2017.csv
vehicules-2018.csv
vehicules-2019.csv
vehicules-2020.csv
vehicules-2021.csv
vehicules-2022.csv

Maintenant que nous avons les 5 fichiers mergés pour les 18 années (sauf pour véhicule immat), nous pouvons merger les 5 fichiers ensemble.

* (c) Merging des 5 fichiers

> Les jeu de données est splitté en 4 on peut utiliser les clés suivantes pour les jointures:
    carac: Num_acc
    lieux: Num_acc
    usagers: id_usager/id_vehicle
    véhicules: id_vehicle

D'abord, nous allons lire chacun des fichiers

In [2]:
carac = pd.read_csv("carac_merged.csv")
immat= pd.read_csv("immat_merged.csv")
vehicule = pd.read_csv("vehicule_merged.csv")
usagers = pd.read_csv("usagers_merged.csv")
lieux = pd.read_csv("lieux_merged.csv")

C:\Users\Gaia\AppData\Local\Temp\ipykernel_22348\2121843954.py:1: DtypeWarning: Columns (4,10,12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  carac = pd.read_csv("carac_merged.csv")

C:\Users\Gaia\AppData\Local\Temp\ipykernel_22348\2121843954.py:2: DtypeWarning: Columns (4,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  immat= pd.read_csv("immat_merged.csv")
C:\Users\Gaia\AppData\Local\Temp\ipykernel_22348\2121843954.py:3: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  vehicule = pd.read_csv("vehicule_merged.csv")
C:\Users\Gaia\AppData\Local\Temp\ipykernel_22348\2121843954.py:4: DtypeWarning: Columns (8,12,16) have mixed types. Specify dtype option on import or set low_memory=False.
  usagers = pd.read_csv("usagers_merged.csv")
C:\Users\Gaia\AppData\Local\Temp\ipykernel_22348\2121843954.py:5: DtypeWarning: Columns (2,6,7,8,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  lieux = pd.read_csv("lieux_merged.csv")

Ensuite, nous décrivons brièvement les fichiers.

In [49]:
carac.head(5) # Num_Acc
vehicule.head(5) #Num_Acc
usagers.head(5) #Num_Acc
lieux.head(5) #Num_Acc


immat.head(5) # Id_accident	--> à voir après

,Id_accident,Lettre Conventionnelle Véhicule,Année,Lieu Admin Actuel - Territoire Nom,Type Accident - Libellé (old),CNIT,Catégorie véhicule,Age véhicule,Type Accident - Libellé
0,63 933 550,A,2009,DOM,Accident grave non mortel,NaN,Cyclo,NaN,NaN
1,63 933 550,B,2009,DOM,Accident grave non mortel,NaN,VT,19,NaN
2,63 933 551,A,2009,DOM,Accident mortel,MPL51F1FP136,VT,0,NaN
3,63 933 552,A,2009,DOM,Accident Léger,NaN,Moto lourde,4,NaN
4,63 933 552,B,2009,DOM,Accident Léger,NaN,VT,2,NaN

In [5]:
merge_accident = pd.merge(carac, lieux, on='Num_Acc')
merge_accident = pd.merge(merge_accident, usagers, on='Num_Acc')
merge_accident = pd.merge(merge_accident, vehicule, on='Num_Acc')

In [10]:
#display(merge_accident[["num_veh_y", "num_veh_x"]]) # on a deux colonnes num_vehicule et id_vehicule quand ily a deux voitures impliquées.
display(merge_accident[["id_vehicule_y", "id_vehicule_x"]])

        id_vehicule_y id_vehicule_x
0                 NaN           NaN
1                 NaN           NaN
2                 NaN           NaN
3                 NaN           NaN
4                 NaN           NaN
...               ...           ...
5004838       715 632       715 632
5004839       715 629       715 629
5004840       715 630       715 629
5004841       715 629       715 630
5004842       715 630       715 630

[5004843 rows x 2 columns]

On exporte le dataframe brut pour le partager.

In [11]:
merge_accident.to_csv("raw_data_merged_accident.csv", sep=',', index=False, encoding='utf-8')